.card {
    cursor: pointer;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    box-shadow: inset 0 0 0.25rem var(--primary-med-light);
    border: 2px solid var(--primary-med-light);
    border-radius: 0.25rem;
}

.card:hover {
    box-shadow: inset 0 0 0.25rem var(--primary-med-dark);
    border: 2px solid var(--primary-med-dark);
}

.card h4 {
    cursor: pointer;
}

.card > img {
    width: 75px;
    margin-right: 1rem;
}

.institution-balance, .account-balance, .transaction-balance {
    margin-left: auto;
}

.account-details-container > p, .transaction-details-container > p {
    margin-top: -0.5rem;
}