main {
    height: 100%;
    flex-grow: 1;
    display: flex;
    padding: 2rem;
    gap: 1rem;
}

.center-content {
    min-width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.right-content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}