:root {
    --primary-light: #F1FAEE;
    --primary-med-light: #A8DADC;
    --primary-med-dark: #457B9D;
    --primary-dark: #1D3557;
    --accent: #E63946;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.0rem;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--primary-med-light);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: var(--primary-dark);
}

main {
    height: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: max-content max-content auto;
}

.page-header {
    grid-area: 1 / 1 / span 1 / span 1;
}

.list {
    grid-area: 2 / 1 / span 1 / span 1;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue;
}

.create-btn-container {
    grid-area: 3 / 1 / span 1 / span 1;
    text-align: center;
}

.details {
    grid-area: 1 / 2 / span 3 / span 1;
    border: 1px solid green;
}

form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

form > label, form > button {
    margin-top: 10px;
}