:root {
    /* for variables */
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
}

.sidebar {
    border: 1px solid black;
}

.main {
    flex-grow: 1;
    display: flex;
}

.list {
    flex-grow: 1;
}