:root {
    --primary-light: #eff2f5;
    --primary-med-light: #a8c9dc;
    --primary-med-dark: #457B9D;
    --primary-dark: #1D3557;
    --accent: #E63946;
}

h1, h2, h3, h4, th, td {
    cursor: default;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.0rem;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-med-dark);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#root {
    background-color: var(--primary-med-light);
    display: flex;
    width: 1440px;
    min-height: 100vh;
}

.create-btn {
    color: var(--primary-dark);
    width: 4rem;
    height: 4rem;
}

.create-btn:hover {
    cursor: pointer;
    color: var(--accent);
}